/*BASIC CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #25D4B1;
    background-image: linear-gradient(-180deg, #25D4B1 0%, #0BADA3 100%);
}
h1 {
    font-size: 24px;
    color: #ffffff;
}
h2 {
    display: block;
    color: #ffffff;
}
img {
    float: left;
}

.header {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titles {
    float: left;
    display: block;
    margin-left: 15px;
}
